# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
#import gmaps.datasets


# Import API key
from api_keys import g_key

# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [2]:
#jupyter nbextension enable --py gmaps

In [24]:
g_key

'AIzaSyC6FtyVyK0RgIdLPONDAZ-7P5XSYknXDvw'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
# Read our Data file with the pandas library
file = "output_data/cities.csv"
df = pd.read_csv(file)
df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,eyl,86,SO,1584399079,78,7.98,49.82,79.41,15.77
1,vaini,75,TO,1584398911,79,-21.20,-175.20,86.00,18.34
2,iqaluit,90,CA,1584399079,77,63.75,-68.51,5.00,12.75
3,rikitea,56,PF,1584399079,79,-23.12,-134.97,81.07,12.33
4,babakan,61,ID,1584399079,77,-7.28,107.22,81.72,4.16
...,...,...,...,...,...,...,...,...,...
559,presidente medici,96,BR,1584399167,90,-11.18,-61.90,76.91,2.39
560,waipawa,100,NZ,1584399168,76,-41.41,175.52,57.00,29.97
561,jizan,20,SA,1584399168,74,17.33,42.67,80.60,4.70
562,kaka,1,TM,1584399168,61,37.35,59.61,59.83,3.67
563,spanish town,20,JM,1584399168,48,17.99,-76.96,86.00,19.46

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [26]:
#lat = df["Lat"]
#lng = df["Lng"]
#coordinates = list(zip(lat, lng))
locations = df[["Lat","Lng"]]
weights = df["Humidity"]
# Customize the size of the figure
#figure_layout = {
 #   'width': '400px',
  #  'height': '300px',
   # 'border': '1px solid black',
    #'padding': '1px',
    #'margin': '0 auto 0 auto'
#}
#fig = gmaps.figure(layout=figure_layout



fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
print(locations)

       Lat     Lng
0     7.98   49.82
1   -21.20 -175.20
2    63.75  -68.51
3   -23.12 -134.97
4    -7.28  107.22
..     ...     ...
559 -11.18  -61.90
560 -41.41  175.52
561  17.33   42.67
562  37.35   59.61
563  17.99  -76.96

[564 rows x 2 columns]

In [6]:
print(weights)

0      78
1      79
2      77
3      79
4      77
       ..
559    90
560    76
561    74
562    61
563    48
Name: Humidity, Length: 564, dtype: int64

In [7]:
#jupyter nbextension enable --py --sys-prefix widgetsnbextension

In [8]:
#jupyter nbextension list

In [9]:
#A max temperature lower than 80 degrees but higher than 70.

#Wind speed less than 10 mph.

#Zero cloudiness.

#Drop any rows that don't contain all three conditions. 
#You want to be sure the weather is ideal.

#Note: Feel free to adjust to your specifications 
#but be sure to limit the number of rows returned 
#by your API requests to a reasonable number.

In [14]:
df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,eyl,86,SO,1584399079,78,7.98,49.82,79.41,15.77
1,vaini,75,TO,1584398911,79,-21.20,-175.20,86.00,18.34
2,iqaluit,90,CA,1584399079,77,63.75,-68.51,5.00,12.75
3,rikitea,56,PF,1584399079,79,-23.12,-134.97,81.07,12.33
4,babakan,61,ID,1584399079,77,-7.28,107.22,81.72,4.16
...,...,...,...,...,...,...,...,...,...
559,presidente medici,96,BR,1584399167,90,-11.18,-61.90,76.91,2.39
560,waipawa,100,NZ,1584399168,76,-41.41,175.52,57.00,29.97
561,jizan,20,SA,1584399168,74,17.33,42.67,80.60,4.70
562,kaka,1,TM,1584399168,61,37.35,59.61,59.83,3.67
563,spanish town,20,JM,1584399168,48,17.99,-76.96,86.00,19.46

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
narrowed_city_df = df.loc[(df["Max Temp"]<80)&(df["Max Temp"]>70)\
                         &(df["Cloudiness"]==0)].dropna()
#narrowed_city_df = narrowed_city_df.loc[(df["Max Temp"]>70)]
#narrowed_city_df = narrowed_city_df.loc[(df["Cloudiness"]==0)]
#narrowed_city_df = narrowed_city_df.loc[(df["Max Temp"]>70)]
#narrowed_city_df.dropna()
narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
98,port hedland,0,AU,1584399095,88,-20.32,118.57,77.00,3.36
199,arraial do cabo,0,BR,1584398917,86,-22.97,-42.03,78.57,22.28
263,nueve de julio,0,AR,1584399121,59,-35.44,-60.88,72.00,1.01
310,abu dhabi,0,AE,1584399046,73,24.47,54.37,75.00,4.70
421,ratnagiri,0,IN,1584398923,57,16.98,73.30,70.52,1.63
430,yaguajay,0,CU,1584399147,77,22.33,-79.24,74.88,17.56
436,saldanha,0,ZA,1584399148,46,-33.01,17.94,73.40,8.05
466,san juan,0,AR,1584399115,51,-31.54,-68.54,76.42,8.46
469,dingle,0,PH,1584399153,74,11.00,122.67,77.20,9.98
475,kununurra,0,AU,1584399154,94,-15.77,128.73,73.40,4.47
515,buin,0,CL,1584399160,36,-33.73,-70.75,77.00,8.05
522,les cayes,0,HT,1584399161,67,18.20,-73.75,79.43,6.51

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [16]:
hotel_df = narrowed_city_df.copy()
hotel_df["Hotel Name"] = ""

In [17]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = { 
    "rankby": "distance",
    "type": "lodging",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get hotel location from hotel_df
    lat = row['Lat']
    lng = row["Lng"]
    #city = row["City"]

    # add keyword to params dict
    params['location'] = str(lat)+","+str(lng)

    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):  #HELP DO I NEED THIS STEP?
        print("Missing field/result... skipping.")

In [21]:
smaller_df = hotel_df[["City","Country","Hotel Name","Lat","Lng"]]
smaller_df

,City,Country,Hotel Name,Lat,Lng
98,port hedland,AU,The Esplanade Hotel,-20.32,118.57
199,arraial do cabo,BR,Kitchenette Elaine Arraial do Cabo,-22.97,-42.03
263,nueve de julio,AR,Avenida Palace Hotel,-35.44,-60.88
310,abu dhabi,AE,Marriott Executive Apartments Downtown Abu Dhabi,24.47,54.37
421,ratnagiri,IN,Bhatye Khadi,16.98,73.30
430,yaguajay,CU,Hostal Idalmis y JosÃ© Luis,22.33,-79.24
436,saldanha,ZA,Fidel castrol khayelitsha,-33.01,17.94
466,san juan,AR,Departamento Hospedaje,-31.54,-68.54
469,dingle,PH,Camp Pasica,11.00,122.67
475,kununurra,AU,Ivanhoe Village Caravan Resort,-15.77,128.73
515,buin,CL,Enrique Lanz,-33.73,-70.75
522,les cayes,HT,MVL PRO STUDIO,18.20,-73.75

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map



# Display Map